{{!-- <h1>Stream io</h1> --}}

<div class="embed-responsive embed-responsive-16by9">
        <video poster="ple"></video>
</div>

{{!-- <select id="select" class="button is-text">
    Choose a Video Source
    <option value="">--Please choose an option--</option>

</select> --}}

<script src="/js/screenRecorder.js"></script>
{{!-- <script src="/js/socket.js"></script> --}}